:root {
  --page-margin: 0.4in;
  --header-font: "Space Grotesk";
  --body-font: "Inter";
}

body {
  margin: 0in;
}

@page {
  size: Letter;
  margin: var(--page-margin);
}

@media screen {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    width: calc(8in - var(--page-margin) + 0.1in);
  }
}

header {
  text-align: center;
}

h1, h2, p, div, ul, ol {
  margin: 0pt 0pt;
}

h1, h2 {
  font-family: var(--header-font);
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 12pt;
  text-transform: uppercase;
}

p, div, ul, ol {
  font-family: var(--body-font);
  font-size: 10pt;
}

hr {
  border: none;
  border-bottom: 1px solid #000000;
  margin: 2pt 0;
}

.item-title {
  font-weight: bold;
}

.item-date {
  float: right;
  text-align: right;
}

.item-tagline {
  font-style: italic;
}

.item-tagline::before {
  content: " | ";
  font-style: normal;
}

table {
  border-spacing: 0;
}

table.two-col {
  width: 100%;
  table-layout: fixed;
}

table ul {
  margin: 0px;
}